*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(234, 183, 88);
}
:root{
    --primary-color: rgb(234, 16, 234);
    --font-size: 5vh;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --paragraph-color: rgb(52, 7, 7);
    --paragraph-font-size: 3vh;
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgba(241, 223, 223, 0.463);
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: brown;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}
.menu-icon{
    display: none;
}
.menu-icon i{
    font-size: 30px;
} 
.nav-link :hover{
    color: white;
    background-color: brown;
    border-radius: 10px;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 90vh;
    background-color: rgba(253, 104, 67, 0.812);
    padding: 20px;
}
.hero-image{
    width: 100%;
    height: 80vh;
    background-color: yellow;
    border-top-left-radius: 30em;
    border-bottom-right-radius: 30em;
}
main .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    /* color: rgb(244, 244, 250);   */
}
main .heading h1{
    color: rgba(240, 248, 255, 0);
    -webkit-text-stroke: 0.3vw white;
}
main .heading h1::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    height: 100%;
    color: white;
    overflow: hidden;
    animation: animate 4s linear infinite;
    /* transition: all 0.3s ease-in; */
}
article{
    min-height: 50vh;
}
article h1{
    text-align: center;
    margin: 30px;
}
article p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
section{
    min-height: 50vh;
    padding: 20px;
    background-color: rgba(149, 57, 57, 0.956);
}
section h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-image img{
    width: 20vw;
    height: 20vw;
    transition: all 0.3s linear;   
}
.product-image{
    display: inline-block;
    margin-left: 50px;
}

.product-image :hover{
    padding: 10px;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.card{
    background-color: rgb(6, 6, 6);
    padding: 0px 20px;
    margin: 20px 20px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orangered;
    border: 2px solid orangered;
    border-radius: 30px;
}
.card-icon{
    font-size: 28px;
    transition: 0.5s linear;
}
.card p{
    transition: 0.5s linear;
}
.card :hover{
    background-color: orangered;
    border-radius: 30px;
    padding: 10px;
    color: black;
}
footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    text-align: center;
}

@media(max-width:600px){
    main{
        display: block;
    }
    nav ul{
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: rgba(241, 223, 223, 0.942);
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    .product{
        display: inline-block;
        flex-wrap: nowrap;
        margin-left: 15px;
        }
        .contact-info{
            flex-direction: column;
        }
        .card{
            width: 100%;
            max-width: 200px;
            margin: 20 0px;
        }
}

/* animations */
@keyframes animate {
    0%,10%,100%{
       width: 0;
    }
    70%,90%,100%{
       width: 100%;
    }
}
